.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 0 0 0 20px;
  background-image: url(../../../images/EditButton.svg);
  background-size: contain;
  grid-area: edit-button;
  justify-self: start;
}

@media all and (max-width: 320px){
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
    position: absolute;
    grid-area: none;
    bottom: 123px;
    right: 38px;

  }
}