.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 0;
  background: transparent url(../../../images/Vector.svg) center no-repeat;
  border: 1px solid #fff;
  grid-area: add-button;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

@media all and (max-width: 585px){
  .profile__add-button {
    margin-top: 20px;
    justify-self: center;
  }
}

@media all and (max-width: 320px){
  .profile__add-button {
    width: 282px;
    margin-top: 36px;
  }
}